<h3>Establishments</h3>
<ul>
  {{#each establishment in controller.content}}
    <li>
      {{establishment.name}}
    </li>
  {{/each }}
  <li> {{#linkTo "establishments.new"}}<i class="icon-plus-sign"></i> New Establishment{{/linkTo}} </li>
</ul>

<div>
  {{outlet}}
</div>